CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -Wpedantic
---
If:
  PathMatch: .*\.c
CompileFlags:
  Add: [-std=c23]
---
If:
  PathMatch: .*\.(cpp|cc|cxx|c\+\+|C|hpp|hh|hxx|h\+\+)
CompileFlags:
  Add: [-std=c++26]
