# LKP2E book companion code
*.swp
*.bkp
bkp/
*.dat
*.o
*.ko
*.mod
*.mod.c
.*.cmd
Module.symvers
modules.order
.tmp_versions/
.tmp_build/
*.tar.xz
kbuild_log
kint.waste
kmods.waste
lockstats.txt
/ch09/oom_killer_try/oom_killer_try
/ch11/cgroups/cpu_constrain/primegen/primegen
/ch11/cpu_affinity/userspc_cpuaffinity
/ch12/*/rdwr_test_secret
