bare_metal_embedded_c.txt
/code/
*.o
*.elf
*.map
*.d
*.list
*.cyclo
*.su
.state/
.tmp/
*.swp
code/**/*.o
code/**/*.elf
code/**/*.map
code/**/*.list
code/**/*.cyclo
code/**/*.d
code/**/*.su
code/**/Debug/default.size.stdout
code/**/Debug/objects.list
exercises/**/*.o
exercises/**/*.elf
exercises/**/*.map
exercises/**/*.list
exercises/**/*.cyclo
exercises/**/*.d
exercises/**/*.su
exercises/**/*.bin
exercises/**/Debug/default.size.stdout
exercises/**/Debug/objects.list
