book/
/code/
*.o
*.elf
*.bin
/exercises/iso/
/exercises/stage2_eltorito
the_little_book_about_os_development.txt
.state/
.tmp/
code/build/
code/*.iso
code/*.elf
code/*.o
code/*.log
code/bochsrc.txt
code/bochslog.txt
code/iso/
code/author/
code/stage2_eltorito
exercises/build/
exercises/*.iso
exercises/*.elf
exercises/*.o
exercises/*.log
exercises/bochsrc.txt
exercises/bochslog.txt
exercises/iso/
*.swp
